body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background: #A0522D;
    color: white;
    padding: 5px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    justify-content: space-between;
}

/* Estilos adicionais para nav, h1, etc. */

main {
    padding: 20px;
}

.chess-personality {
    margin-bottom: 30px; /* Espaço entre as seções */
}

.chess-personality h2 {
    color: #333;
    text-align: center;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
    padding: 15px;
}

.content img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 15px;
    /* Adicionando margem à direita para telas maiores */
    margin-right: 20px; 
}

.content p {
    font-size: 0.9rem;
    color: #666;
    /* Adicionando margem à esquerda para garantir espaço entre texto e imagem */
    margin-left: 20px; 
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Consulta de mídia para ajustar o layout em telas menores */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
        text-align: center;
    }

    .content img {
        /* Removendo a margem lateral em telas menores para melhorar a responsividade */
        margin-right: 0;
        margin-bottom: 15px; /* Mantém espaço entre a imagem e o texto */
    }

    .content p {
        /* Removendo a margem lateral em telas menores */
        margin-left: 0;
    }
}

img {
    max-width: 120px;
    height: auto;
    margin-right: 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    padding: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

footer {
    background: #A0522D;
    color: white;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.5);
}