body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav {
    /* Estilo da navegação */
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.chess-personality {
    margin-bottom: 30px; /* Espaço entre as seções */
}

.chess-personality h2 {
    color: #333;
    text-align: center;
}

.content {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
    padding: 15px;
    text-align: center;
}

.content img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 15px;
}

.content p {
    font-size: 0.9rem;
    color: #666;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}