/* Estilo global para remover margens e preenchimentos */
* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; /* Garante que o html e o body ocupem toda a altura da janela do navegador */
}

body {
    display: flex; /* Permite o uso de flexbox */
    flex-direction: column; /* Organiza os elementos em coluna */
    background-color: #602f18;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    line-height: 1.6;
    
}

header { 
    background: #A0522D;
    color: white;
    padding: 5px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    justify-content: space-between;
}

img {
    max-width: 120px;
    height: auto;
    margin-right: 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    padding: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

main {
    flex: 1; /* Permite que o main cresça e ocupe o espaço disponível */
    padding: 20px;
    min-height: calc(100vh - 60px); /* Altura mínima subtraindo a altura do header e do footer */
}

section {
    margin-bottom: 20px;
}

footer {
    background: #A0522D;
    color: white;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.5);
}